footer {
  padding: 1rem var(--padding-1);
  box-shadow: 0 0 5px var(--secondary-color);
}

/*
======================
Footer Section Contact
======================
*/
.contact {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.contact .footer_contact h3 {
  text-align: center;
}

/*
========================
Footer Section Copyright
========================
*/
.copyright {
  text-align: center;
}

.copyright p {
  font-weight: 800;
}

/* Responsive */
@media (max-width: 700px) {
  footer {
    padding: 2rem 0;
  }
  .contact {
    padding: 0 5%;
  }
}
/* End */
