/*
======================
Default Configuration
======================
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: pop-R;
}

:root {
  --bg-color: #ffffff;
  --secondary-color: rgb(0, 0, 0);
  --button-color: #508de9;
  --button-hover-color: #8196b4;
  --container-color: #d7d7d7;

  --font-R: pop-R;
  --font-SB: pop-SB;
  --font-B: pop-B;
  --font-Sinhala: iskoola-potha;

  --font-big-3: 2rem;
  --font-big-2: 1.7rem;
  --font-big-1: 1.4rem;
  --font-big-0: 1.2rem;
  --font-regular: 1.1rem;
  --padding-small: 2rem;
  --padding-1: 3rem;
  --padding-2: 3.5rem;
}

.DF {
  display: flex;
}

.FD-R {
  flex-direction: row;
}

.FD-C {
  flex-direction: column;
}

.DG {
  display: grid;
}

.PR {
  position: relative;
}

.show-flex {
  display: flex;
}

.show-grid {
  display: grid;
}

.hidden {
  display: none;
}

.center {
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  width: 75%;
  height: 1px;
  background-color: var(--secondary-color);
  border-radius: 100vh;
  justify-self: center;
  align-self: center;
}

@media (max-width: 500px) {
  .horizontal-line {
    margin: 1.5rem 0;
  }
}

/*
===============
Header Section
===============
*/

body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}

body > header {
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--padding-1);
  box-shadow: 0 0 5px var(--secondary-color);
}

/* --- body > Header Gov Logo --- */

body > header .gov-logo-container {
  grid-template-columns: auto auto;
  user-select: none;
}

body > header .gov-logo-container .gov-logo {
  width: 100px;
  height: 100px;
  justify-content: center;
}

body > header .gov-logo-container .gov-logo-title h1 {
  line-height: 35px;
  color: var(--secondary-color);
}

body > header .gov-logo-container .gov-logo-title h1:first-child {
  font-family: var(--font-Sinhala);
}

@supports (-moz-appearance: none) {
  body > header .gov-logo-container .gov-logo-title h1:first-child {
    letter-spacing: -1px;
  }
}

body > header .gov-logo-container .gov-logo-title h1:nth-child(2) {
  letter-spacing: -2px;
}

body > header .gov-logo-container .gov-logo-title h1:last-child {
  letter-spacing: -1px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

/* --- body > Header Navigation --- */

body > header nav ul {
  list-style-type: none;
  box-shadow: 0 0 5px 3px rgb(195, 195, 195);
  padding: 1rem var(--padding-1);
  border-radius: 20px;
}

body > header nav ul li a {
  font-weight: 600;
  font-size: var(--h4);
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
}

/* --- body > Header Data Officer Logo --- */

body > header > img:last-child {
  width: 100px;
}
