/*
======================
Default Configuration
======================
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: pop-R;
}

:root {
  --bg-color: #fafafa;
  --secondary-color: rgb(0, 0, 0);
  --button-color: #508de9;
  --button-hover-color: #8196b4;
  --container-color: #d9d9d9;

  --font-R: pop-R;
  --font-SB: pop-SB;
  --font-B: pop-B;
  --font-Sinhala: iskoola-potha;

  --font-big-3: 2rem;
  --font-big-2: 1.7rem;
  --font-big-1: 1.4rem;
  --font-big-0: 1.2rem;
  --font-regular: 1.1rem;
  --padding-1: 3rem;
  --padding-2: 3.5rem;
}

.DF {
  display: flex;
}

.FD-R {
  flex-direction: row;
}

.FD-C {
  flex-direction: column;
}

.DG {
  display: grid;
}

.PR {
  position: relative;
}

.show-flex {
  display: flex;
}

.show-grid {
  display: grid;
}

.hidden {
  display: none;
}

.center {
  justify-content: center;
  align-items: center;
}

/*
===============
Header Section
===============
*/

body {
  background-color: var(--bg-color);
}

header {
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--padding-1);
  box-shadow: 0 0 15px 1px var(--secondary-color);
}

/* --- Header Gov Logo --- */

header .gov-logo-container {
  grid-template-columns: auto auto;
  user-select: none;
}

header .gov-logo-container .gov-logo {
  width: 100px;
  height: 100px;
  justify-content: center;
}

header .gov-logo-container .gov-logo-title h1 {
  line-height: 35px;
  color: var(--secondary-color);
}

header .gov-logo-container .gov-logo-title h1:first-child {
  font-family: var(--font-Sinhala);
}

header .gov-logo-container .gov-logo-title h1:nth-child(2) {
  letter-spacing: -2px;
}

header .gov-logo-container .gov-logo-title h1:last-child {
  letter-spacing: -1px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

/* --- Header Navigation --- */

header nav ul {
  list-style-type: none;
  box-shadow: 0 0 5px 3px rgb(195, 195, 195);
  padding: 1rem var(--padding-1);
  border-radius: 20px;
}

header nav ul li a {
  font-weight: 600;
  font-size: var(--h4);
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
}

/* --- Header Data Officer Logo --- */

header > img:last-child {
  width: 100px;
}

/*
=================
Main Section Hero
=================
*/

.hero {
  grid-template-columns: 2fr 3fr;
  padding: var(--padding-2);
  align-self: center;
  justify-self: center;
}

.hero figure {
  padding: var(--padding-1);
}

.hero figure img {
  /* background-image: url(../../Images/Body/Hero/image2.jpg); */
  max-width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50px;
}

.hero article {
  padding: var(--padding-2);
  row-gap: 2rem;
  text-align: center;
}

.hero article h1 {
  font-size: var(--font-big-2);
  font-family: var(--font-B);
  color: var(--secondary-color);
}

.hero article p {
  text-align: justify;
  font-size: var(--font-regular);
  color: var(--secondary-color);
}
