/*
======================
Default Configuration
======================
*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: pop-R;
  scroll-behavior: smooth;
}

:root {
  /* --bg-color: #ffffff;
  --secondary-color: #000000;
  --button-color: #508de9;
  --button-hover-color: #264d83;
  --container-color: #dadada;
  --icon-color: rgb(69, 214, 84);
  --icon-color-blue: rgb(62, 107, 255);
  --close-btn-color: #ffffff;
  --close-btn-hover-color: #e3e3e3;
  --login-box-color: #ffffff;
  --login-box-textbox-color: #ffffff7f;
  --placeholder-color: #474747b0;
  --link-color: rgb(105, 105, 238);
  --table-heading-color: #96ceff;
  --table-body-color: #c4e3fe;
  --button-warning-bg-color: rgb(232, 14, 14);
  --button-warning-color: #ffffff;
  --warning-color: rgb(227, 64, 64);
  --white-color: #ffffff; */

  /* --bg-color: #f2f2f2;
  --secondary-color: #212121;
  --button-color: #03a9f4;
  --button-hover-color: #0288d1;
  --container-color: #e0e0e0;
  --container-color-1: #cbcbcb;
  --icon-color: #4caf50;
  --close-btn-color: #ffffff;
  --close-btn-hover-color: #bdbdbd;
  --login-box-color: #ffffff;
  --login-box-textbox-color: #e0f7fa;
  --placeholder-color: #757575;
  --link-color: #01579b;
  --table-heading-color: #81d4fa;
  --table-body-color: #b3e5fc;
  --button-warning-bg-color: #ff5252;
  --button-warning-color: #ffffff;
  --warning-color: #f44336; */

  --bg-color: #ffffff;
  --secondary-color: #000000;
  --button-color: #508de9;
  --button-hover-color: #264d83;
  --container-color: #dadada;
  --icon-color: rgb(69, 214, 84);
  --icon-color-blue: rgb(62, 107, 255);
  --close-btn-color: #ffffff;
  --close-btn-hover-color: #e3e3e3;
  --login-box-color: #ffffff;
  --login-box-textbox-color: #ffffff7f;
  --placeholder-color: #474747b0;
  --link-color: rgb(105, 105, 238);
  --table-heading-color: #96ceff;
  --table-body-color: #c4e3fe;
  --button-warning-bg-color: rgb(232, 14, 14);
  --button-warning-color: #ffffff;
  --warning-color: rgb(227, 64, 64);
  --white-color: #ffffff;

  --new-color-1: #f0f0f0;
  --new-color-2: #e0e0e0;
  --new-color-3: #b0c4de;
  --new-color-4: #dcdcdc;
  --new-color-5: #f8f8ff;
  --additional-container-color-1: #ebebeb;
  --additional-container-color-2: #cfcfcf;

  --font-R: pop-R;
  --font-SB: pop-SB;
  --font-B: pop-B;
  --font-Sinhala: iskoola-potha;

  --font-big-3: 2rem;
  --font-big-2: 1.7rem;
  --font-big-1: 1.4rem;
  --font-big-0: 1.2rem;
  --font-regular: 1rem;
  --padding-small: 2rem;
  --padding-1: 3rem;
  --padding-2: 3.5rem;
}

[data-theme="dark"] {
  /* --bg-color: #232020;
  --secondary-color: rgb(255, 255, 255);
  --button-color: #508de9;
  --button-hover-color: #8196b4;
  --container-color: #44474d;
  --close-btn-color: #1f1e1e;
  --close-btn-hover-color: #000000;
  --login-box-color: #3431315d;
  --login-box-textbox-color: #403c3c8f;
  --placeholder-color: #ffffff7f;
  --link-color: #c2deff;
  --table-heading-color: #1d1d1d;
  --table-body-color: #353131ce;
  --button-warning-bg-color: rgb(219, 53, 53);
  --button-warning-color: #ffffff; */

  --bg-color: #232020;
  --secondary-color: rgb(255, 255, 255);
  --button-color: #508de9;
  --button-hover-color: #8196b4;
  --container-color: #44474d;
  --close-btn-color: #1f1e1e;
  --close-btn-hover-color: #000000;
  --login-box-color: #3431315d;
  --login-box-textbox-color: #403c3c8f;
  --placeholder-color: #ffffff7f;
  --link-color: #c2deff;
  --table-heading-color: #1d1d1d;
  --table-body-color: #353131ce;
  --button-warning-bg-color: rgb(219, 53, 53);
  --button-warning-color: #ffffff;

  --new-color-1: #2b2b2b;
  --new-color-2: #3a3a3a;
  --new-color-3: #4e4e4e;
  --new-color-4: #5c5c5c;
  --new-color-5: #6e6e6e;
  --additional-container-color-1: #2e2e2e;
  --additional-container-color-2: #4a4a4a;

  /* --bg-color: #263238;
  --secondary-color: #ffffff;
  --button-color: #03a9f4;
  --button-hover-color: #0288d1;
  --container-color: #37474f;
  --container-color-1: #696969;
  --icon-color: #4caf50;
  --close-btn-color: #263238;
  --close-btn-hover-color: #212121;
  --login-box-color: #37474f;
  --login-box-textbox-color: #455a64;
  --placeholder-color: #90a4ae;
  --link-color: #4fc3f7;
  --table-heading-color: #455a64;
  --table-body-color: #607d8b;
  --button-warning-bg-color: #ff5252;
  --button-warning-color: #ffffff;
  --warning-color: #f44336; */
}

.DF {
  display: flex;
}

.FD-R {
  flex-direction: row;
}

.FD-C {
  flex-direction: column;
}

.DG {
  display: grid;
}

.PR {
  position: relative;
}

.show-flex {
  display: flex;
}

.show-grid {
  display: grid;
}

.hidden {
  display: none !important;
}

.center {
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  width: 60%;
  height: 2px;
  background-color: var(--secondary-color);
  border-radius: 100vh;
  justify-self: center;
  align-self: center;
}

@media (max-width: 500px) {
  .horizontal-line {
    margin: 1.5rem 0;
  }
}

/*
===============
Header Section
===============
*/

body {
  position: relative;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}

body > header {
  align-items: center;
  justify-content: space-between;
  padding: 1rem 8%;
  box-shadow: 0 0 5px var(--secondary-color);
}

/* Mobile navigation */

body > header .mobile-nav-container {
  display: none;
}

body > header .mobile-nav-container,
body > header .mobile-nav-container .fa-bars {
  position: relative;
  cursor: pointer;
}

body > header .mobile-nav-container .fa-bars {
  z-index: 10;
}

body > header .mobile-nav-container .fa-bars,
body > header .mobile-nav-container .fa-xmark,
body > header .mobile-nav .fa-house,
body > header .mobile-nav .fa-person-chalkboard,
body > header .mobile-nav .fa-section,
body > header .mobile-nav .fa-flag,
body > header .mobile-nav .fa-newspaper,
body > header .mobile-nav .fa-images,
body > header .mobile-nav .fa-address-book,
body > header .mobile-nav h3 {
  color: var(--secondary-color);
  position: relative;
}

body > header .mobile-nav div {
  display: flex;
  position: relative;
  width: 15px;
  align-items: center;
  justify-content: center;
}

.mobile-nav {
  z-index: 15;
  position: absolute;
  top: 100px;
  left: 0;
  background-color: var(--bg-color);
  border-radius: 20px;
  box-shadow: 0 0 5px var(--secondary-color);
  padding: 1.5rem 2rem;
  margin: 0 2rem;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  overflow: hidden;
  transform: translateX(0);
}

/* Transition for Mobile Navigation */
.hidden-effect {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition-property: opacity, transform visibility;
  transition-timing-function: 0.3s;
}

.mobile-nav ul {
  row-gap: 1.5rem;
  position: relative;
}

.mobile-nav ul li {
  gap: 1.5rem;
  position: relative;
  list-style-type: none;
}

.mobile-nav ul li a {
  display: grid;
  grid-template-columns: auto 150px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  padding: 0;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--secondary-color);
  text-wrap: nowrap;
}

/* Header Responsive 500px*/

@media (max-width: 500px) {
  .mobile-nav {
    top: 80px;
    left: 0;
    right: 0;
  }
}

/* --- body > Header Gov Logo --- */

.mobile-gov-logo-container {
  display: none;
}

body > header .gov-logo-container {
  grid-template-columns: auto auto;
  user-select: none;
}

body > header .gov-logo-container .gov-logo {
  width: 90px;
  height: 90px;
  justify-content: center;
}

body > header .gov-logo-container .gov-logo-title h1 {
  line-height: 30px;
  color: var(--secondary-color);
  font-size: var(--font-big-2);
}

body > header .gov-logo-container .gov-logo-title h1:first-child {
  font-family: var(--font-Sinhala);
}

@supports (-moz-appearance: none) {
  body > header .gov-logo-container .gov-logo-title h1:first-child {
    letter-spacing: -1px;
  }
}

body > header .gov-logo-container .gov-logo-title h1:nth-child(2) {
  letter-spacing: -2px;
}

body > header .gov-logo-container .gov-logo-title h1:last-child {
  letter-spacing: -1px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

/* --- body > Header Navigation --- */

body > header .wide_navigation ul {
  list-style-type: none;
  box-shadow: 0 0 5px 3px rgb(195, 195, 195);
  padding: 0.5rem var(--padding-1);
  border-radius: 20px;
}

body > header .wide_navigation ul li a {
  font-weight: 600;
  font-size: var(--h4);
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

/* User Login Area */
.wide_login_container {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.wide_login_container .user_icon_container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wide_login_container .user_icon_container .fa-user {
  font-size: 1.5rem;
  color: var(--icon-color-blue);
}

.wide_login_container .user_icon_container .fa-caret-down {
  font-size: 1rem;
  color: var(--icon-color-blue);
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.wide_login_container .user_icon_container.rotate .fa-caret-down {
  transform: rotate(180deg);
}

.wide_login_container .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: var(--container-color);
  box-shadow: 0 0 5px var(--secondary-color);
  padding: 1rem;
  border-radius: 5px;
  top: 70px;
  right: 0;
  z-index: 1000;
  width: 200px;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  transform: translateY(-10px);
}

.wide_login_container .dropdown.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.user_info_container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.wide_login_container .user_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.wide_login_container .user_info {
  display: flex;
  flex-direction: column;
}

.wide_login_container .user_info .user_name {
  color: var(--secondary-color);
  font-weight: bold;
}

.wide_login_container .greeting_text {
  margin-left: 0.5rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.wide_login_container .user_info .user_type {
  color: var(--secondary-color);
  font-size: 0.9rem;
}

.wide_login_container .logout_btn {
  width: 100%;
  padding: 0.45rem;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--button-warning-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.wide_login_container .logout_btn:hover,
.wide_login_container .logout_btn:focus {
  background-color: var(--button-hover-color);
}

/* --- body > Header Data Officer Logo --- */

body > header > .data-officer-logo-container {
  width: 90px;
}

body > header > .data-officer-logo-container img {
  width: 90px;
}

/* Dark-Mode */

.theme-switch-wrapper {
  display: flex;
  position: absolute;
  top: 300px;
  right: -80px;
  align-items: center;
  transform: rotate(270deg);
  z-index: 9;
}

.theme-switch-wrapper .mode1 {
  margin-left: 10px;
  font-size: 1rem;
  color: var(--secondary-color);
}

.theme-switch-wrapper .mode2 {
  margin-left: 10px;
  font-size: 1rem;
  color: var(--secondary-color);
}

.theme-switch {
  display: inline-block;
  height: 32px;
  position: relative;
  width: 57px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--button-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Header Responsive 1350px*/
@media (max-width: 1350px) {
  body > header {
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4%;
    box-shadow: 0 0 5px var(--secondary-color);
  }
}

/* Header Responsive 1200px*/

@media (max-width: 1200px) {
  .wide_navigation {
    display: none;
  }

  .mobile-nav {
    top: 125px;
  }

  body > header {
    padding: 1rem 10%;
    justify-content: space-between;
  }

  body > header .mobile-nav-container {
    display: flex;
    width: 30px;
  }

  .theme-switch-wrapper {
    top: 250px;
  }

  .wide_login_container {
    display: none;
  }

  .mobile_login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--container-color);
    border-radius: 5px;
    /* box-shadow: 0 0 5px var(--secondary-color); */
    margin-top: 1rem;
    padding-bottom: 0;
  }

  .mobile_login_container .user_info_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .mobile_login_container .user_image {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .mobile_login_container .user_info {
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  .mobile_login_container .user_info .user_name {
    color: var(--secondary-color);
    font-weight: bold;
  }

  .mobile_login_container .user_info .user_type {
    color: var(--secondary-color);
    font-size: 0.9rem;
  }

  .mobile_login_container .logout_btn {
    width: 100%;
    padding: 0.45rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--button-warning-color);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    /* margin-top: 1rem; */
    text-wrap: nowrap;
  }

  .mobile_login_container .logout_btn:hover,
  .mobile_login_container .logout_btn:focus {
    background-color: var(--button-hover-color);
  }
}

/* Header Responsive 700px*/

@media (max-width: 700px) {
  .wide_navigation {
    display: none;
  }

  .mobile-nav {
    top: 110px;
  }

  .mobile-gov-logo-container {
    display: flex;
    position: relative;
    /* transform: translateX(-10px); */
  }

  body > header {
    padding: 1.5rem 1rem;
    justify-content: space-evenly;
  }

  body > header > .data-officer-logo-container {
    width: 60px;
  }

  body > header > .data-officer-logo-container img {
    width: 60px;
  }

  .gov-logo-container {
    display: none;
  }

  .mobile-gov-logo-container {
    display: flex;
    /* width: 180px; */
  }

  .mobile-gov-logo-container img {
    width: 200px;
  }
}
