body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #eef2f7;
}

form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: #555;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
  display: none; /* Initially hidden */
}

.workplaceDetails {
  display: none; /* Initially hidden */
  transition: all 0.5s ease;
}

.show {
  display: block; /* Displayed when active */
}

#otpSection {
  display: none;
  margin-top: 20px;
}

button#verifyOtp {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button#verifyOtp:hover {
  background-color: #45a049;
}

.message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: none; /* Initially hidden */
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.autocomplete-suggestions {
  border: 1px solid #ccc;
  display: none; /* Initially hidden */
  position: absolute;
  background: white;
  z-index: 1000;
  overflow-y: auto;
  max-height: 200px;
  width: 600px;
}

.autocomplete-suggestion {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-suggestion:hover {
  background: #eee;
}

.highlight {
  font-weight: bold;
  background-color: #e9e9e9;
}
