.school_census_tutorial_container {
  margin: 0 10%;
}

.school_census_tutorial_container > header {
  margin: 10vh auto;
  color: var(--secondary-color);
  font-size: var(--font-big-3);
  font-weight: 800;
}

.school_census_tutorial_container .census_video_container {
  grid-template-columns: 1fr 1fr;
  background-color: var(--container-color);
  border-radius: 15px;
  margin: 10% 0;
}

.school_census_tutorial_container .video {
  display: flex;
  flex-direction: column;
  padding: var(--padding-2);
  height: 600px;
}

.school_census_tutorial_container .video h2 {
  color: var(--secondary-color);
  text-align: center;
  padding: 0 0 2rem 0;
}

.school_census_tutorial_container .youtube-video {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 400px;
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .school_census_tutorial_container .census_video_container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .school_census_tutorial_container .video {
    display: flex;
    flex-direction: column;
    padding: var(--padding-2);
    width: 90%;
    height: 500px;
    margin: 0 auto;
    padding: 0;
  }

  .school_census_tutorial_container .youtube-video {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    border-radius: 10px;
    width: 90%;
    justify-self: center;
    align-self: center;
  }
}
