#detailsForm .headTitle h1 {
  font-size: 1.6rem;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

#detailsForm .headTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 300px;
  margin: 4rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--login-box-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {
  form {
    margin: 4rem 8%;
  }
}

#detailsForm h2:nth-child(1),
#detailsForm h2:nth-child(2) {
  margin-top: 2rem;
}

#detailsForm h2 {
  text-align: left;
  margin-bottom: 20px;
  color: var(--secondary-color);
  text-wrap: wrap;
  transition: color 0.3s ease;
  font-size: large;
}

#detailsForm h2:hover {
  color: var(--link-color);
}

#detailsForm fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

#detailsForm fieldset legend {
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  column-gap: 0.5rem;
  transition: color 0.3s ease;
  justify-content: center;
}

#detailsForm fieldset .legend1 {
  padding-top: 2rem;
}

#detailsForm fieldset .legend2 {
  padding-top: 0;
}

#detailsForm fieldset legend:hover {
  color: var(--link-color);
}

#detailsForm label {
  display: block;
  margin-top: 10px;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

#detailsForm label:hover {
  color: var(--link-color);
}

#detailsForm input,
#detailsForm select,
#detailsForm select option,
#detailsForm button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  background-color: var(--login-box-textbox-color);
  color: var(--secondary-color);
}

#detailsForm select option {
  width: 300px;
}

#detailsForm button {
  background-color: var(--button-color);
}

#detailsForm input:focus,
#detailsForm select:focus,
#detailsForm button:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

#detailsForm button:hover {
  background-color: var(--button-hover-color);
}

#detailsForm button#verifyOtp {
  background-color: var(--button-color);
}

#detailsForm button#verifyOtp:hover {
  background-color: var(--button-hover-color);
}

#detailsForm .error {
  color: red;
  font-size: 12px;
  display: none;
}

#detailsForm .workplaceDetails {
  display: none;
  transition: all 0.5s ease;
}

#detailsForm .show {
  display: block;
}

#detailsForm #otpSection {
  display: none;
  margin-top: 20px;
  transition: all 0.5s ease;
}

#detailsForm #otpSection.show {
  display: block;
  transform: scale(1.05);
}

#detailsForm .message {
  /* margin-top: 10px; */
  padding: 5px;
  border-radius: 5px;
  display: none;
  transition: all 0.3s ease;
}

#detailsForm .msg_contain {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 1rem;
}

#detailsForm .message.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

#detailsForm .message.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

#detailsForm .autocomplete-suggestions {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  z-index: 1000;
  overflow-y: auto;
  max-height: 200px;
  width: 600px;
  transition: all 0.3s ease;
}

#detailsForm .autocomplete-suggestion {
  padding: 8px;
  cursor: pointer;
  color: var(--secondary-color);
}

#detailsForm .autocomplete-suggestion:hover {
  background: var(--button-color);
  transform: scale(1.02);
}

#detailsForm .autocomplete-no-results {
  color: red;
  padding: 5px;
}

#detailsForm .highlight {
  font-weight: bold;
  background-color: var(--highlight-color);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.popup-overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.popup-box {
  background: var(--login-box-color);
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 400px;
  position: relative;
  transition: transform 0.3s ease;
}

.popup-box.success {
  border: 2px solid var(--icon-color);
}

.popup-box.error {
  border: 2px solid var(--warning-color);
}

.popup-box.show {
  transform: scale(1.05);
}

.popup-close {
  cursor: pointer;
  color: var(--secondary-color);
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transition: color 0.3s ease;
  z-index: 5000;
  scale: 1.3;
  transform: translateY(-10px);
}

.popup-close:hover {
  color: var(--close-btn-hover-color);
}

/* FontAwesome Icons */
.fa-user-plus,
.fa-user,
.fa-briefcase {
  margin-right: 10px;
  font-size: 1.2em;
  vertical-align: middle;
  transition: transform 0.3s ease;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.fa-user-plus:hover,
.fa-user:hover,
.fa-briefcase:hover {
  transform: scale(1.1);
}
