main {
  width: 100%;
  height: 100%;
}

main .gallery {
  padding: var(--padding-2) 8%;
  gap: var(--padding-1);
}

main .gallery header {
  text-align: center;
  font-family: pop-SB;
  font-size: var(--font-big-1);
  color: var(--secondary-color);
}

/*
============
Gallery View
============
*/
.gallery-list {
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, 300px);

  gap: 1rem;
}

.gallery-list a {
  display: flex;
  justify-content: center;
}

.gallery-list a img {
  max-width: 300px;
  border-radius: 5px;
}

/* @media (max-width: 1360px) {
  .gallery-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
} */
