/*
=================
Admin Login Here
=================
*/
.login-background_container {
  height: 84vh;
}

.login-container {
  position: relative;
  margin: auto;
  background-color: var(--login-box-color);
  padding: 30px;
  border-radius: 10px;
}

.login-container .login-form .login_row {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.login-container .login-form .login_row label {
  color: var(--secondary-color);
}

@media (max-width: 600px) {
  .login-container .login-box {
    grid-template-columns: 1fr;
    row-gap: 0.1rem;
  }

  .login-box input[type="text"] {
    display: flex;
    margin-bottom: 0.7rem;
  }
}

/*
===============
Login Btn Area
===============
*/

.login_btn_container {
  position: absolute;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--close-btn-hover-color);
  top: 0;
  cursor: pointer;
  user-select: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translate(115px, 250px);
  margin: auto;
  z-index: 5;
}

.login_btn_container .fa-key,
.login_btn_container em {
  color: var(--secondary-color);
}
