.login-background_container {
  margin: 10vh auto;
  row-gap: 2rem;
  background-color: var(--container-color);
  padding: 2rem 2.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-background_container header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.login-background_container header .fa-user-plus {
  color: var(--icon-color-blue);
}

.login-background_container header h2 {
  color: var(--secondary-color);
  margin: 0;
}

.login-background_container .error-message,
.login-background_container .success-message {
  color: var(--white-color);
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

.login-background_container .error-message {
  background-color: var(--warning-color);
}

.login-background_container .success-message {
  background-color: var(--icon-color);
}

.login-background_container .login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-background_container .login-form .login_row {
  margin-bottom: 1rem;
}

.login-background_container .login-form .login_row label {
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
}

.login-background_container .login-form .login_row input,
.login-background_container .login-form .login_row select {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--login-box-textbox-color);
  font-size: 1rem;
  color: var(--secondary-color);
}

.login-background_container .login-form .login_row select option {
  background-color: var(--bg-color);
  color: var(--secondary-color);
}

.login-background_container .login-form .login_row input::placeholder {
  color: var(--placeholder-color);
}

.login-background_container .login-form .login_row input:focus,
.login-background_container .login-form .login_row select:focus {
  border-color: var(--button-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.login-background_container .login-form .login_row button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--button-warning-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.login-background_container .login-form .login_row button:hover,
.login-background_container .login-form .login_row button:focus {
  background-color: var(--button-hover-color);
}

@media (max-width: 700px) {
  .login-background_container {
    padding: 1.5rem;
    max-width: 350px;
  }
}

@media (max-width: 600px) {
  .login-background_container {
    padding: 1.25rem;
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .login-background_container {
    padding: 1rem;
    max-width: 280px;
  }
}
