main .error-message,
main .success-message {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

main .error {
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  color: #842029;
}

main .success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}
