/*
===============================
Body Section User Create Button
===============================
*/

.create_button_container {
  display: flex;
  justify-content: right;
  position: sticky;
  right: 0;
  left: 0;
  margin: 0 0 1rem 0;
}

.create_button_container button {
  padding: 0.5rem 1rem;
  color: var(--button-warning-color);
  background-color: var(--button-color);
  border-radius: 8px;
  outline: 0;
  border: 0;
  transition: background-color 0.3s ease;
}

.create_button_container button:hover {
  transition: background-color 0.3s ease;
  background-color: var(--button-hover-color);
}

/*
=========================
Body Section User Details
=========================
*/

.main_container {
  margin: 3% 10% 5% 10%;
  padding: 0 1rem 3rem 1rem;
  background-color: var(--container-color);
  border-radius: 8px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.716);
}

.main_container > header {
  text-align: center;
  padding: 2rem 0;
  font-size: var(--font-big-0);
  font-family: pop-SB;
  color: var(--secondary-color);
}

table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  padding-bottom: 2rem;
}

th,
td {
  border: 1px solid var(--bg-color);
  padding: 10px;
  text-align: center;
  text-wrap: nowrap;
  color: var(--secondary-color);
}

table td {
  font-size: 1rem;
}

table td button {
  padding: 0.2rem 0.5rem;
  background-color: var(--button-warning-bg-color);
  color: var(--button-warning-color);
  border-radius: 3px;
  border: 0;
  outline: 0;
}

th {
  background-color: var(--table-heading-color);
  color: var(--secondary-color);
}

@media screen and (max-width: 900px) {
  main {
    overflow: scroll;
    overflow: auto;
  }

  .main_container > header {
    position: sticky;
    left: 0;
  }
}
